### <font color='cian'>ENTREGA DE LA CONSIGNA #3 </font>

* NOMBRE: <font color='cian'>Maria Belen Areal</font>
* DNI: <font color='cian'>35.367.971</font>
* COMISIÓN: <font color='cian'>23678CaC - Big Data /Data Anlaytics</font>

<font color='cian'>Archivos complementarios en FILES > Mi Proyecto > c23678-MariaBelenAreal-TPIntegrador. Ahí se encuentran las capturas de pantalla y archivos .sql</font>

----------------------------------------

#### CONSIGNA #3
**A.** Usaremos el estilo **snake_case**  para los nombres de carpetas, archivos, tablas o columnas. Renombrar la carpeta Mi_proyecto para que cumpla este requerimiento.

**B.** Colocar en la carpeta **'mi_proyecto':**
* **netflix_mod_est:** la estructura de la BBDD solamente (solo las tablas)

**C. Contexto**
1. Te entregamos unas BBDD relacionales (en MySQL y en SQLite) para prácticar. Estas BBDD no estan completas ni tienen todas las variables. Pueden tener un comportamiento validable. Contienen errores que iremos trabajando durante el desarrollo del curso. No es el objetivo detectar todos los errores, pero sí aprender a reconocerlos y tratarlos adecuadamente. 
1. La tabla **'content'** tiene información de los contenidos de netflix en general. 
1. La tabla **'production'** tiene información de los contenidos originales de netflix. 
1. En la consigna #3 se creará una tabla **'oscar'** que esta relacionada con los premios a la industria del entretenimiento, especificamente el cine.
1. Los ejercicios marcados como **"desafíos"** son optativos, <u>de entrega no obligatoria</u> pero contribuyen a tu ejercitación como profesional.
1. Los enunciados contienen indicaciones mínimas que puedes mejorar. Sé creativo y piensa como si ya fueses un profesional de los datos.

#### 1.- Crear una tabla en una BBDD e insertar un set de datos desde un CSV

Durante la **semana 5** (desde el 30/08/2023) hasta la **semana 7** (hasta el 13/09/2023), se deben cubrir los siguientes objetivos:

1. Revise el archivo **<font color='red'>oscar.csv</font>** compartido en este deepnote para identificar el tipo de dato de cada columna, y establezca los nombres apropiados para usar en el punto siguiente (atributos de la tabla):

<font color='cian'>1. Los nombres elegidos se visualizan en el ítem 2.</font>

----------------------------------------


2. Crear una tabla en la **BBDD** **<font color='red'>netflix</font>** seleccionada en la **consigna #1**, con las siguientes características:
<center><table>
    <tr>
        <th colspan = "2"; style="border: 1px solid black; padding: 0px 10px 0px 10px; text-align: center"><font color='blue'>Nombre de la Tabla</font></th>
        <td colspan = "3"; style="border: 1px solid black; padding: 0px 10px 0px 10px; text-align: center">oscar</td>
    </tr>
    <tr>
        <th style="border: 1px solid black; padding: 0px 10px 0px 10px; text-align: center"><font color='blue'>Columna</font></th>
        <th style="border: 1px solid black; padding: 0px 10px 0px 10px; text-align: center"><font color='blue'>Tipo</font></th>
        <th style="border: 1px solid black; padding: 0px 10px 0px 10px; text-align: center"><font color='blue'>Nulo</font></th>
        <th style="border: 1px solid black; padding: 0px 10px 0px 10px; text-align: center"><font color='blue'>CHARACTER SET</font></th>
        <th style="border: 1px solid black; padding: 0px 10px 0px 10px; text-align: center"><font color='blue'>COLLATE</font></th>
    </tr>
    <tr>
        <th style="border: 1px solid black; padding: 0px 10px 0px 10px; text-align: center"><font color='blue'>A</font></th>
        <td rowspan = "4"; style="border: 1px solid black; padding: 0px 10px 0px 10px; text-align: center">Entero</td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px; text-align: center">No permitido</td>
        <td rowspan = "4"; colspan = "2"; style="border: 1px solid black; padding: 0px 10px 0px 10px; text-align: center"></td>
    </tr>
    <tr>
        <th style="border: 1px solid black; padding: 0px 10px 0px 10px; text-align: center"><font color='blue'>B</font></th>
        <td rowspan = "19"; style="border: 1px solid black; padding: 0px 10px 0px 10px; text-align: center">Por defecto</td>
    </tr>
    <tr>
        <th style="border: 1px solid black; padding: 0px 10px 0px 10px; text-align: center"><font color='blue'>C</font></th>
    </tr>
    <tr>
        <th style="border: 1px solid black; padding: 0px 10px 0px 10px; text-align: center"><font color='blue'>D</font></th>
    </tr>
    <tr>
        <th style="border: 1px solid black; padding: 0px 10px 0px 10px; text-align: center"><font color='blue'>E</font></th>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px; text-align: center">Texto hasta 128 caracteres</td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px; text-align: center">utf8mb4</td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px; text-align: center">utf8mb4_general_ci</td>
    </tr>
    <tr>
        <th style="border: 1px solid black; padding: 0px 10px 0px 10px; text-align: center"><font color='blue'>F</font></th>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px; text-align: center">Entero</td>
        <td colspan = "2"; style="border: 1px solid black; padding: 0px 10px 0px 10px; text-align: center"></td>
    </tr>
    <tr>
        <th style="border: 1px solid black; padding: 0px 10px 0px 10px; text-align: center"><font color='blue'>G</font></th>
        <td rowspan ="2"; style="border: 1px solid black; padding: 0px 10px 0px 10px; text-align: center">Texto hasta 256 caracteres</td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px; text-align: center">utf8mb4</td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px; text-align: center">utf8mb4_general_ci</td>
    </tr>
    <tr>
        <th style="border: 1px solid black; padding: 0px 10px 0px 10px; text-align: center"><font color='blue'>H</font></th>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px; text-align: center">utf8mb4</td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px; text-align: center">utf8mb4_general_ci</td>
    </tr>
    <tr>
        <th style="border: 1px solid black; padding: 0px 10px 0px 10px; text-align: center"><font color='blue'>I</font></th>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px; text-align: center">tinyint</td>
        <td colspan = "2"; style="border: 1px solid black; padding: 0px 10px 0px 10px; text-align: center"></td>
    </tr>
    <tr>
        <th style="border: 1px solid black; padding: 0px 10px 0px 10px; text-align: center"><font color='blue'>J</font></th>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px; text-align: center">Texto hasta 128 caracteres</td>
        <td rowspan = "5"; style="border: 1px solid black; padding: 0px 10px 0px 10px; text-align: center">utf8mb4</td>
        <td rowspan = "5"; style="border: 1px solid black; padding: 0px 10px 0px 10px; text-align: center">utf8mb4_general_ci</td>
    </tr>
    <tr>
        <th style="border: 1px solid black; padding: 0px 10px 0px 10px; text-align: center"><font color='blue'>K</font></th>
        <td rowspan = "2"; style="border: 1px solid black; padding: 0px 10px 0px 10px; text-align: center">Texto hasta 512 caracteres</td>
    </tr>
    <tr>
        <th style="border: 1px solid black; padding: 0px 10px 0px 10px; text-align: center"><font color='blue'>L</font></th>
    </tr>
    <tr>
        <th style="border: 1px solid black; padding: 0px 10px 0px 10px; text-align: center"><font color='blue'>M</font></th>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px; text-align: center">Texto hasta 256 caracteres</td>
    </tr>
    <tr>
        <th style="border: 1px solid black; padding: 0px 10px 0px 10px; text-align: center"><font color='blue'>N</font></th>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px; text-align: center">Texto hasta 128 caracteres</td>
    </tr>
    <tr>
        <th style="border: 1px solid black; padding: 0px 10px 0px 10px; text-align: center"><font color='blue'>O</font></th>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px; text-align: center">Doble</td>
        <td colspan = "2"; style="border: 1px solid black; padding: 0px 10px 0px 10px; text-align: center"></td>
    </tr>
    <tr>
        <th style="border: 1px solid black; padding: 0px 10px 0px 10px; text-align: center"><font color='blue'>P</font></th>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px; text-align: center">Texto hasta 128 caracteres</td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px; text-align: center">utf8mb4</td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px; text-align: center">utf8mb4_general_ci</td>
    </tr>
    <tr>
        <th style="border: 1px solid black; padding: 0px 10px 0px 10px; text-align: center"><font color='blue'>Q</font></th>
        <td rowspan = "2"; style="border: 1px solid black; padding: 0px 10px 0px 10px; text-align: center">Doble</td>
        <td rowspan = "2"; colspan = "2"; style="border: 1px solid black; padding: 0px 10px 0px 10px; text-align: center"></td>
    </tr>
    <tr>
        <th style="border: 1px solid black; padding: 0px 10px 0px 10px; text-align: center"><font color='blue'>R</font></th>
    </tr>
    <tr>
        <th style="border: 1px solid black; padding: 0px 10px 0px 10px; text-align: center"><font color='blue'>S</font></th>
        <td rowspan = "2"; style="border: 1px solid black; padding: 0px 10px 0px 10px; text-align: center">Entero</td>
        <td rowspan = "2"; colspan = "2"; style="border: 1px solid black; padding: 0px 10px 0px 10px; text-align: center"></td>
    </tr>
    <tr>
        <th style="border: 1px solid black; padding: 0px 10px 0px 10px; text-align: center"><font color='blue'>T</font></th>
    </tr>
</table></center></br>

<font color='cian'> 2. Se generó la tabla en DB Browser for SQLite </font>

----------------------------------------

In [ ]:
-- USE Netflix;
-- Crear la tabla 'oscar'
CREATE TABLE IF NOT EXISTS oscar (
    id_oscar INTEGER PRIMARY KEY AUTOINCREMENT,
    id_inf INTEGER,
    id_res INTEGER,
    id_content INTEGER,
    title_oscar VARCHAR(128),
    year_ceremony INTEGER,
    category VARCHAR(256),
    name VARCHAR(256),
    winner TINYINT,
    Directed_by VARCHAR(128),
    Based_on VARCHAR(512),
    Starring VARCHAR(512),
    Distributed_by VARCHAR(256),
    Budget VARCHAR(128),
    Budget_Mill DOUBLE,
    Box_office VARCHAR(128),
    Box_office_Mill DOUBLE,
    IMDB DOUBLE,
    Metascore INTEGER,
    Rotten_Tomatoes INTEGER
);

3. Importar el archivo **<font color='red'>oscar.csv</font>** en la tabla creada en el punto 2 de la **BBDD** **<font color='red'>netflix</font>** escogida en la **consigna #1**:

<font color='cian'> 3. Ver imágenes complemetarias. </font>

----------------------------------------

4. Construir y completar el cuadro siguiente **para la tabla oscar luego del paso 3,** según el siguiente modelo.  Los textos en <font color='blue'>azul</font> debes sustuirlos por los textos que correspondan:
<center>
<table>
    <tr>
        <td > </td>
        <th colspan="3", style="border: 1px solid black; padding: 0px 10px 0px 10px">Nombre de la BBDD y su tabla</th>
        <td colspan="3", style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>nombreBBDD.NombreTabla</font></td>
    </tr>
    <tr>
        <td > </td>
        <th style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>Nombre columna 1</font></th>
        <th style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>...</font></th>
        <th style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>...</font></th>
        <th style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>...</font></th>
        <th style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>Nombre columna n</font></th>
    </tr>
    <tr>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px">No nulos</td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>...</font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>...</font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>...</font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>...</font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>...</font></td>
    </tr>
    <tr>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px">Vacíos</td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>...</font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>...</font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>...</font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>...</font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>...</font></td>
    </tr>
    <tr>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px">Nulos</td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>...</font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>...</font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>...</font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>...</font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>...</font></td>
    </tr>
    <tr>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px">Distintos</td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>...</font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>...</font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>...</font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>...</font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>...</font></td>
    </tr>
</table></center></br>

<font color='cian'> 4. Reutilice el código que realicé para la consigna #2 en el ítem 3 pero adaptandola para un archivo csv.</font>

In [6]:
import pandas as pd

oscar = pd.read_csv('oscar.csv')


########################
import pandas as pd

df = pd.read_csv('oscar.csv')

columnas = list(oscar.columns)

resultados = pd.DataFrame(columns=['Columna', 'NotNull', 'Vacios', 'Null', 'ValoresDistintos'])

for columna in columnas:
    notnull_count = df[columna].notnull().sum()
    vacios_count = (df[columna] == '').sum()
    null_count = df[columna].isnull().sum()
    valores_distintos = df[columna].nunique()
    
    resultados = resultados.append({'Columna': columna, 'NotNull': notnull_count, 'Vacios': vacios_count, 
    'Null': null_count, 'ValoresDistintos': valores_distintos}, ignore_index=True)

resultados.set_index('Columna', inplace=True)

resultados_transpose = resultados.transpose()

display(resultados_transpose)

/tmp/ipykernel_117118/36606120.py:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  resultados = resultados.append({'Columna': columna, 'NotNull': notnull_count, 'Vacios': vacios_count,
/tmp/ipykernel_117118/36606120.py:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  resultados = resultados.append({'Columna': columna, 'NotNull': notnull_count, 'Vacios': vacios_count,
/tmp/ipykernel_117118/36606120.py:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  resultados = resultados.append({'Columna': columna, 'NotNull': notnull_count, 'Vacios': vacios_count,
/tmp/ipykernel_117118/36606120.py:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  resultados = resultados.append({'Columna': columna, 'NotNull': notnull_count, 'Vacios': vacios_count,
/tmp/ipykernel_117118/36606120.py:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  resultados = resultados.append({'Columna': columna, 'NotNull': notnull_count, 'Vacios': vacios_count,
/tmp/ipykernel_117118/36606120.py:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  resultados = resultados.append({'Columna': columna, 'NotNull': notnull_count, 'Vacios': vacios_count,
/tmp/ipykernel_117118/36606120.py:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  resultados = resultados.append({'Columna': columna, 'NotNull': notnull_count, 'Vacios': vacios_count,
/tmp/ipykernel_117118/36606120.py:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  resultados = resultados.append({'Columna': columna, 'NotNull': notnull_count, 'Vacios': vacios_count,
/tmp/ipykernel_117118/36606120.py:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  resultados = resultados.append({'Columna': columna, 'NotNull': notnull_count, 'Vacios': vacios_count,
/tmp/ipykernel_117118/36606120.py:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  resultados = resultados.append({'Columna': columna, 'NotNull': notnull_count, 'Vacios': vacios_count,
/tmp/ipykernel_117118/36606120.py:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  resultados = resultados.append({'Columna': columna, 'NotNull': notnull_count, 'Vacios': vacios_count,
/tmp/ipykernel_117118/36606120.py:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  resultados = resultados.append({'Columna': columna, 'NotNull': notnull_count, 'Vacios': vacios_count,
/tmp/ipykernel_117118/36606120.py:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  resultados = resultados.append({'Columna': columna, 'NotNull': notnull_count, 'Vacios': vacios_count,
/tmp/ipykernel_117118/36606120.py:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  resultados = resultados.append({'Columna': columna, 'NotNull': notnull_count, 'Vacios': vacios_count,
/tmp/ipykernel_117118/36606120.py:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  resultados = resultados.append({'Columna': columna, 'NotNull': notnull_count, 'Vacios': vacios_count,
/tmp/ipykernel_117118/36606120.py:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  resultados = resultados.append({'Columna': columna, 'NotNull': notnull_count, 'Vacios': vacios_count,
/tmp/ipykernel_117118/36606120.py:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  resultados = resultados.append({'Columna': columna, 'NotNull': notnull_count, 'Vacios': vacios_count,
/tmp/ipykernel_117118/36606120.py:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  resultados = resultados.append({'Columna': columna, 'NotNull': notnull_count, 'Vacios': vacios_count,
/tmp/ipykernel_117118/36606120.py:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  resultados = resultados.append({'Columna': columna, 'NotNull': notnull_count, 'Vacios': vacios_count,
/tmp/ipykernel_117118/36606120.py:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  resultados = resultados.append({'Columna': columna, 'NotNull': notnull_count, 'Vacios': vacios_count,

Columna,id,id_inf,id_res,id_content,title,year_ceremony,category,name,winner,Directed by,Based on,Starring,Distributed by,Budget,Budget (float) x Million,Box office,Box office (float) x million,IMDB,Metascore,Rotten Tomatoes
NotNull,2765,2765,2765,532,2765,2765,2765,2765,2765,2763,1378,2687,2711,2561,2542,2592,2585,2629,2500,2530
Vacios,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
Null,0,0,0,2233,0,0,0,0,0,2,1387,78,54,204,223,173,180,136,265,235
ValoresDistintos,2765,531,2765,530,526,91,93,2164,2,388,225,489,211,244,153,420,400,38,63,61

5. Realizar las siguientes consultas sobre el conjunto de tablas que sean necesarios. Los nombres de las columnas deben mostrarse en español:
    * <b>A.</b> Seleccionar los títulos con runtime superior a 90 y lenguaje Francés. Incluir el tipo de contenido. Ordenar los títulos de menor a mayor. 
    * <b>B.</b> Seleccionar aquellos títulos que posean director y país de origen. Filtrar por aquellas que tengan un Runtime mayor a 70. Ordenar los títulos de manera ascendente.
    * <b>C.</b> Sume el Runtime de las películas que tengan como único país de origen United States, India, Japan, Spain y Mexico, discriminando y ordenando por país. Incluya la columna género.
    * <b>D.</b> Mostrar las películas clasificadas como **drama** por netflix, que hayan ganado el Oscar entre 2010 y 2020 y que estén en esta plataforma
    * <b>E.</b> Seleccionar el título y el género de las películas puntuadas por IMDB entre 7 y 9. Obtener los títulos en idioma inglés. 
    * <b>F.</b> Cuente la cantidad de títulos de cada género de la tabla productions. Ordene de manera descendente por las cantidades y ascendente por el género.
    * <b>G.</b> Analizar la relación entre Budget y Box Office. Calcular el ratio Budget/Box Office para las peliculas con un puntaje IMDB entre 7 y 9, sin mostrar nulos y no repetidos.
    * <b>H.</b> Obtener las películas que ganaron el Oscar a Best Picture, ordenadas de manera descendente por año ganador.
    * <b>I.</b> Mostrar el título y el año de ceremonia de los oscar para las peliculas puntuadas por IMDB entre 7 y 9. Ordenarlos alfabéticamente por títulos y de mayor a menor por año de ceremonia.
    * <b>J.</b> Mostrar una lista de las películas originales de netflix ganadoras del oscar (si las hubiera) mostrando las columnas title, category, genre runtime, el imdb_score, la premiere y el año de la ceremonia.
    * <b>K.</b> Mostrar una lista de las nominaciones al oscar de películas originales de netflix (si las hubiera) que no fueron ganadoras del premio,mostrando las columnas título, category y año de la ceremonia.

<font color='cian'> 5. ... </font>

----------------------------------------

In [7]:
columnas

['id',
 'id_inf',
 'id_res',
 'id_content',
 'title',
 'year_ceremony',
 'category',
 'name',
 'winner',
 'Directed by',
 'Based on',
 'Starring',
 'Distributed by',
 'Budget',
 'Budget (float) x Million',
 'Box office',
 'Box office (float) x million',
 'IMDB',
 'Metascore',
 'Rotten Tomatoes']


6. Documentar todo lo anterior en DEEPNOTE:
    * Crea el cuadro del punto 4.
    * Pega los códigos de las queries del punto 5 y agrega una captura de pantalla de la ejecución en el Administrador de BBDD, que incluya la barra de tareas de tu sistema operativo.
    * No olvides que debes colocar el archivo de la BBDD **netflix_mod_est** en la carpeta **mi_proyecto**.

<font color='cian'> 6. ... </font>

----------------------------------------

7. <font color='green'>**DESAFIOS**</font>:
    Realizar las siguientes consultas sobre el conjunto de tablas que sean necesarios. Los nombres de las columnas deben mostrarse en español:
    
    * <b>I.</b> Cuente los tipos de contenido de la tabla “content”. Muestre la descripción de tipos en el resultado de la consulta.
    
    * <b>II.</b> Seleccionar títulos con duración igual a 90 min, que provengan únicamente de United States. Mostrar listed_in. Ordenar los títulos de menor a mayor.
    
    * <b>III.</b> Realizar una consulta similar a la anterior, en donde el campo ‘country’ contenga a United States o a UNITED STATES y el título listado contenga a ‘Horror Movie’ O HORROR MOVIE.
    
    * <b>IV.</b>  Mostar la lista de películas puntuadas 85 o más por Metascore que ganaron el Oscar.

<font color='cian'> 7. ... </font>

----------------------------------------